<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
{{# if condition }}
    Condition is met
{{ else }}
   Condition not met
{{/if}}

{{# each anyArray as |val key|}}
    {{ key }}: {{ val }}
{{/each}}